<!DOCTYPE html>
<html>

<head>
	<title>Wonder Wall</title>
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>

<body>
	<div class="container">
		<nav>
			<div class="nav-wrapper">
				<a href="#" class="brand-logo">Wonder Wall</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="">Hello, {{user["first_name"]}}</a></li>
					<li><a href="/logoff">Log Off</a></li>
				</ul>
			</div>
		</nav>
		<h4>Welcome to the Wall</h4>
		<form action="/post" method="POST">
			<div class="form-group">
				<label for="textarea">Post a message</label>
				<textarea type="text" class="materialize-textarea" name="new_message"></textarea>
			</div>
			<button type="submit" class="waves-effect waves-light btn message_btn" value="Message">Post message</button>
		</form>
		{% for message in messagedata %}
			<p class="msg_h">{{ message['first_name']}} {{ message['last_name'] }}</p>
			<p class="time_p">{{"{: %I:%M %p %d, %b %Y}".format(message['created_at']).replace(" 0", " ")}}</p>
			<p class="msg_p">{{ message['message'] }}</p>
			{% if message['user_id'] == session['user_id'] %} {% endif %} {% for comment in commentdata %} {% if comment['message_id']
			== message['id'] %}
			<p class="com_ph">{{ comment['first_name'] }} {{ comment['last_name'] }}</p>
			<p class="time_p">{{"{: %I:%M %p %d, %b %Y}".format(message['created_at']).replace(" 0", " ")}}</p>
			<p class="com_p">{{ comment['comment'] }}</p>
			{% endif %} {% endfor %}
			<form class="comments" action="/comment/{{ message['id'] }}" method="POST">
				<div class="form-group">
					<textarea type="text" class="materialize-textarea" name="new_comment" placeholder="Post a comment"></textarea>
				</div>
				<button type="submit" class="waves-effect waves-light btn comment_btn" value="Comment">Post comment</button>
			</form>
			{% endfor %}
		</div>
</body>

</html>